src/
  App.js
  components/
    Footer.js
    Footer.css
    Navbar.js
    News.js   
   
   

footer{
    background-color: rgb(66, 67, 68);
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    
}

.line{
    display: flex;
    padding: 1rem;
    
}
.first{
    width: calc(100% / 3);
    padding: 0 0.9rem;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.line .first p{
    line-height: 1.5rem;
}

ul li{
    margin-bottom: 0.4rem;
}
ul li i{
    color: rgb(66, 67, 68);
}
.first .second{
    display: flex;
    column-gap: 0.6rem;
}
a{
    text-decoration: none;
}

.second li a{
    background-color: rgb(66, 67, 68);
    place-content: center;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
}
.second li i{
    color: white;
}
.first ul li a:hover{
    /* color: rgb(62, 154, 252); */
    color: rgb(21, 24, 28)
}
.second li a:hover {
    /* background-color: aqua; */
    background-color: rgb(21, 24, 28);

}
.fourth {
    background-color: rgb(21, 24, 28);
    padding: 1px 0;
    padding-top: 9px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}


@media screen and (max-width: 786px){
    .first{
        width: 100%;
        margin: 0.4rem 0;
    }
    .line{
        display: flex;
        flex-wrap: wrap;
    }
}